# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/
.cache/

# VSCode settings
.vscode/

# mypy & coverage
.mypy_cache/
.dmypy.json
coverage.xml
htmlcov/

# PyInstaller
*.spec
dist/
build/

# Logs
*.log

# Database
*.sqlite3
*.db

# Docker
*.pid
*.tar
*.log
*.bak
docker-compose.override.yml

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# Poetry
poetry.lock

# pipenv
Pipfile.lock

# alembic (ignore compiled scripts or env settings)
alembic/versions/*.pyc
alembic.ini

# __pypackages__ per PEP 582
__pypackages__/

# Coverage reports
.coverage
.tox/
nosetests.xml
test-output/

# FastAPI-related
instance/